<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <style>

  </style>
  <title>Data Engineer Data | Charts</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/charts">Charts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/keywords">Keywords</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container row no-gutters mb-5">
    <h1 class="display-3 text-center mt-3">Charts</h1>
    <p>The data below comes from first separating out all the job summaries, then returning them as one long string.
      The string is then separated into comma separated terms. All the words that aren't consequential to the
      description are removed. Lastly the occurences of the important words are counted and charted here.</p>
    <div class="col-md-6">
      <p>Chart to show count of top ten word occurences</p>
      <div id="pie-chart-high"></div>
    </div>
    <div class="col-md-6">
      <p>Chart to show count of top ten word occurences</p>
      <div id="bar-chart-high"></div>
    </div>
    <div class="col-md-12 mb-3">
      <p>Chart to show count of top 30 useless word occurences</p>
      <p>The term useless describes words that add no value to the job description.</p>
      <p><small>Below the table is a full listing of "useless" words</small></p>
      <div id="count-useless-words"></div>
      <h4 class="text-center">Useless words</h4>
      <p id="useless-list">"the", "to", "and", "a", "an", "for", "with",
        "of", "as", "can", "on", "will", "well", "have",
        "so", "feel", "that", "or", "in", "is", "all", "may",
        "possible", "from", "this", "they", "we", "our", "your",
        "mine", "ours", "you'll", "it", "you", "it's", "its",
        "other", "be", "part", "work", "data", "engineer", "engineers"</p>
    </div>
  </div>
  <footer class="bg-dark text-light fixed-bottom">
    <p class="text-center">By Philip Simmons</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.12.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>