<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Jobs Data</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/charts">Charts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/keywords">Keywords</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mb-5">
    <h1 class="display-3 text-center mt-3">What Skills Do You Need to be a Data Engineer in Atlanta, GA</h1>
    <p>All the data contained here and, on the pages that proceed was gathered by scraping Indeed.com and filtering the
      data.
      The filters are as follows:
      <small>
        <p>Job Title/Description: Data Engineer</p>
      </small>
      <small>
        <p>City: Atlanta</p>
      </small>
      <small>
        <p>Experience Level: Entry</p>
      </small>
      <small>
        <p>Pages: 1 - 10</p>
      </small>
    </p>
    <h5 class="mt-3 text-center">Jobs where the word "Data Engineer" is in the job title and index is less than 50, and
      salary is not listed.</h5>
    <table class="table table-striped mt-3" id="mention_data">
      <thead></thead>
      <tbody></tbody>
    </table>
    <h5 class="mt-3 text-center">Jobs where salary is listed</h5>
    <table class="table table-striped mt-3" id="salary">
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
  <footer class="bg-dark text-light fixed-bottom">
    <p class="text-center">By Philip Simmons</p>
  </footer>
  <script src="https://vega.github.io/vega/vega.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>